$exclusive-bg-color: #F2F2F2;

$exclusive-primary-color: #E74C3C;
$exclusive-secondary-color: #999999;

$card-title-color: #333333;

$input-focus-text-color: #000000;
$input-bottom-border-color: #000000;
